*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(17, 213, 122);
}

.container{
    background-color: white;
    height: 260px;
    width: 400px;
    border-radius: 10px;
    transition: .2s;
    padding: 20px;
}
.container.active{
    height: 500px;
}
#qr-header{
    text-align: center;
}
#qr-header h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
#qr-header p{
    color: #444;
    font-size: 0.9rem;
}
#qr-form{
    margin: 20px 15px;
}
#qr-form input,
#qr-form button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
}
#qr-form input{
    border: 1px solid #777;
    padding: 10px;
}
#qr-form button{
    margin-top: 20px;
    background-color: rgb(18, 176, 86);
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.9;
    transition: .4s;
}
#qr-form button:hover{
    opacity: 1;
}

#qr-code{
    display: flex;
    opacity: 0;
    border: 1px solid #ccc;
    padding: 30px 0;
    margin: 20px 15px;
    justify-content: center;
    
}
#qr-code img{
    width: 150px;
    height: 150px;
    
}
.container.active #qr-code{
    opacity: 1;
}